<section>
  <h3 class="date">{{date}}</h3>
  <img src={{url}} />
  <h4 class="title">{{title}}</h4>
  <p class="copyright">Image Credit & Copyright: {{copyright}}</p>
  <p>{{description}}</p>
</section>
